.popup {
  font-family : 'TmoneyRoundWind';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 20px;
}

.popup-content {
  text-align: center;
}

input::placeholder {
  color: lightgray;
  font-size: 13px;
  font-weight: bold;
}

.red_txt {
  color: #e32728;
}

.popup-header{
  display: flex;
  margin-bottom: 20px;
}

.back-button {
  margin-right: auto;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.close-button{
  margin-left: auto;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.step-indicator {
  display: flex;
  justify-content: center;
}

.step-indicator span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-weight: bold;
  color: white;
}

.step-indicator p {
  color: lightgray;
}

.step-indicator span.active {
  background: #61d6bd;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin: 30px 0;
  text-align: left; /* 왼쪽 정렬 */
  font-size: 13px;
  font-weight: bold;
}

.label-group {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  margin-bottom: 10px;
}

.label-group label {
  flex: 1; 
  margin-right: 10px; 
  margin-top: 10px;
  text-align: left; 
}

.label-group select {
  flex: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
}

.public-private {
  display: flex;
  align-items: center; 
  margin-top: 10px; 
}

.public-private label {
  width: 30px;
  margin-right: -1px; 
  padding: 0 0 8px;
  font-size: 10px; 
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none; 
  width: 13px;
  height: 13px;
  border: 2px solid #ccc; 
  border-radius: 50%;
  outline: none; 
  cursor: pointer;
}

input[type='radio']:checked {
  background-color: #61d6bd; 
  border: 3px solid white; 
  box-shadow: 0 0 0 1.6px #61d6bd;
}

.affiliation {
  width: 100%;
  padding: 10px;
  margin-top: -10px;
  border: 1px solid #ccc;
  border-radius: 4px; 
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-select {
  padding: 10px;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  margin-left: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.dropdown-list {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  color: #838080;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto; 
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #a5caf5; /* Hover effect */
}

.selected-select {
  color: #61d6bd; 
  background-color: #fff; 
  border: 1px solid #61d6bd; 
  padding: 10px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
  gap: 10px;
  margin-top: 15px;
}

.options div {
  padding: 13px;
  border-radius: 20px;
  background: #f0f0f0;
  color: #1f1e1e;
  font-weight: 600;
  font-size: 9px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s;
}

.options div.selected {
  background: #474b4a; 
  color: #fff; 
}

.next-button {
  background: #61d6bd;
  color: white;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto; 
}