.groups {
  /* width: auto; */
  overflow: hidden;
  height: auto;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  /* transition: height 0.4s; */
}

.groups .group-item {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0;
  margin: 0; */
  list-style: none;
  margin: 100px auto;
  padding: 0 20px;
  gap: 50px;
  width: 1366px;
}

.groups .group-item a.item-box {
  width: 294px;
  height: 340px;
  border: 2px solid #979ea9;
  cursor: pointer;
  border-radius: 30px;
}

.groups .group-item a.item-box > li {
  position: relative;
}

.groups .group-item .item {
  width: 300px;
  /* border: 2px solid rgb(209, 209, 209); */
  padding: 0;
  margin: 0;
  border-radius: 20px;
}

.groups .group-item .item .bg-update > span {
  color: #ffde4d;
  background-color: #fffbda;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #ffde4d;
  margin: 15px;
}

.groups .group-item .item .bookmark {
}

.groups .group-item .item .bookmark > img {
  width: 32px;
  height: 32px;
  position: relative;
  left: 238px;
  top: 25px;
}

.groups .group-item .item > h2 {
  margin: 12px 10px;
  font-weight: bold;
  font-size: 19px;
  padding: 9px;
  width: 250px;
  line-height: 33px;
}

.groups .group-item .item .group-name {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-weight: bold;
  margin: auto 20px;
}

.groups .group-item .item .bg-group {
  margin: 23px auto;
}

.groups .group-item .item .bg-group > ul {
  display: flex;
  margin: 9px;
}

.groups .group-item .item .bg-group > ul > li {
  padding: 6px;
  border-radius: 10px;
  /* border: 1px solid #ff8343; */
  background-color: #f1dec6;
  color: #ff8343;
  margin: 15px;
  margin: 5px;
}
