.edit-form {
  display: flex;
  flex-direction: column;
  max-width: 608px;
  margin: 180px auto 0;
  padding: 64px;
  border: 2px solid #f5f5f5;
}

.edit-form .edit-form__item {
  display: flex;
  flex-direction: column;
}

.edit-form .edit-form__item.item--profile-image {
  margin: 0 auto 64px;
}

.edit-form .edit-form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.edit-form .edit-form__input label {
  margin-bottom: 8px;
  font-size: 16px;
  color: #3a3a3a;
}

.edit-form .edit-form__input input {
  height: 44px;
  margin-right: 5px;
  padding: 10px 16px;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 3px;
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  transition: all 150ms ease-out 0s;
}

.edit-form .edit-form__input input:disabled {
  background-color: #fcfcfc;
  color: #cccccc;
}

.edit-form .edit-form__input #edit-form__email-input {
  width: 100%;
  margin-right: 0;
}

.edit-form .edit-form__input .edit-form__input__main {
  display: flex;
  justify-content: space-between;
}

.edit-form .edit-form__input .edit-form__input__main .edit-form__edit-btn,
.edit-form .edit-form__input .edit-form__input__main .edit-form__confirm-btn {
  width: 65px;
  background-color: #fff;
  border: 1.5px solid #ededed;
  border-radius: 3px;
  color: #3a3a3a;
  cursor: pointer;
}

.edit-form .edit-form__input #signup-password-input {
  margin-bottom: 10px;
}

.edit-form .edit-form__btn {
  display: flex;
  justify-content: flex-end;
}

.edit-form .edit-form__btn .drop-btn {
  border: none;
  background-color: transparent;
  font-weight: 400;
  transition: all 0.15s;
  cursor: pointer;
}

.edit-form .edit-form__btn .drop-btn:hover {
  color: red;
}